---
layout: default
home: true
---

<h3 class="posts-item-note" aria-label="Recent Posts">Retrouvez ci-dessous les articles, lisible <strong>en moins d'une minute</strong> chacun.</h3>

{%- for categorie in site.categories -%}
  {%- capture name -%}{{ categorie | first }}{%- endcapture -%}
  <h2 id="{{ name }}">{{ name | upcase }}</h2>
  {% assign posts = site.categories[name] | sort: 'date' %}
  {%- for post in posts -%}
    <article class="post-item" id="results-container">
      <!--<span class="post-item-date">{{ post.date | date: "%b %Y" }}</span>-->
      <h3 class="post-item-title">
        <a href="{{ post.url }}">{{ post.title | escape }}</a>
      </h3> 
    </article>
  {%- endfor -%}
{%- endfor -%} 